{% extends "Managemet_Inventory_App/base.html" %}
{% load static%}
{% block head%}
{% endblock %}

{% block content %}

<div class="w3-container w3-light-gray" id="sobre_nosotros" style="margin:30px">
    <h1 class="w3-xxxlarge w3-text-gray"><b>Sobre nosotros.</b></h1>
    <hr style="width:50px;border:5px solid rgb(0, 0, 0)" class="w3-round">
    <p>
        Es un servicio para pequeñas y medianas empresas que tienen la necesidad de mejorar su gestión de inventario debido a la
        cantidad de tiempo perdido y complejidad a la hora de realizar alguna búsqueda en su inventario. Este servicio es
        llamado I.M (Inventory Management). Es una aplicación de escritorio que permite la gestión y la administración del
        inventario considerando los productos, las demandas de los clientes y el comportamiento de sus proveedores. A diferencia
        de otras aplicaciones, nuestro servicio tiene una gestión de búsqueda optimizada que reduce la cantidad de tiempo
        empleada a la hora de buscar algo en el inventario.
    </p>
</div>
{% endblock %}
