{% extends "Managemet_Inventory_App/base.html" %}
{% load static%}
{% block head%}
{% endblock %}

{% block content %}

<div class="w3-container w3-light-gray" id="sobre_nosotros" style="margin:30px">
    <h1 class="w3-xxxlarge w3-text-gray"><b>Sobre nosotros.</b></h1>
    <hr style="width:50px;border:5px solid rgb(0, 0, 0)" class="w3-round">
    <p>Somos una plataforma en la cual permite la realización de exámenes virtuales de profesores a estudiantes</p>
    <p>
        CristalClear nació de la necesidad de tener una plataforma en la cual se pueda realizar exámenes sin que en esta
        se
        puedan presentar casos de fraude, ya sea el buscar las respuestas por otros medios sin la autorización del
        docente
        encargado, el compartir las respuestas con otras personas o el plagio de exámenes.
    </p>
    <p>
        En la virtualidad es bastante difícil el manejo y el control de este tipo de conductas, debido al poco control
        que tiene
        un profesor o educador a los alumnos que realizan sus exámenes de forma virtual, es por eso que nuestra
        aplicación está
        pensada para poder ayudar al profesor más control y supervisión a la hora de que el estudiante realice la
        evaluación
    </p>
    <p>
        Lo que nos diferencia de otras aplicaciones son nuestras funciones que permiten una mejor transparencia
        al momento en el que un estudiante realiza una evaluación. Entre ellas esta la verificación de preguntas.
        Lo que hace este apartado es realizar la verificación de la pregunta a través de la web una vez creada,
        esto para que el profesor pueda cambiar la formulación de la pregunta en caso de encontrarla fácilmente
        en algún sitio web, por ejemploe esta función lo que permite es reducir la probabilidad de que pueda ser
        copiada fácilmente en la web.
    </p>
</div>
{% endblock %}
